* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(227, 227, 227);
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style: none;
}
li {
  margin: 0 15px;
  font-size: 20px;
}
/* Footer styles */
footer {
  background-color: rgb(200, 200, 200);
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}
button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
}
h1 {
  text-align: center;
  margin: 20px 0;
}
