* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(227, 227, 227);
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style: none;
}
li {
  margin: 0 15px;
  font-size: 20px;
}
